body{
  background-color: #85C1E9;
}

h1, h2, h3, ul, div, p {
    text-align: center;
    }

#footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    }

#Social-Links{
  width:5%;
  height:5%;
}
